body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    display: flex;
    justify-content: center;
    background-color: #000000;
    align-items: center;
    flex-direction: column;
}

.head {
    text-align: center;
    color: #ffffff;
    padding-bottom: 5vh;
}

.main {
    padding: 10vh 20vw;
    background: #000;
}

.cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background: linear-gradient(90deg, rgba(45, 56, 45, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(7, 67, 19, 1) 100%);
    box-shadow: rgba(0, 251, 51, 0.25) 0px 20px 200px, rgba(0, 251, 51, 0.12) 0px -12px 30px, rgba(0, 251, 51, 0.12) 0px 4px 6px, rgba(0, 251, 51, 0.17) 0px 12px 13px, rgba(0, 251, 51, 0.09) 0px -3px 5px;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 3vh 0;
}

.cont h5 {
    text-transform: uppercase;
}

.day h1 {
    font-weight: bold;
    font-size: 5.8vw;
}

.hour {
    padding: 0% 7% 0% 7%;

    h1 {
        font-weight: bold;
        font-size: 5.8vw;
    }
}

.min {
    padding: 0% 7% 0% 0%;

    h1 {
        font-weight: bold;
        font-size: 5.8vw;
    }
}

.sec {
    padding: 0;

    h1 {
        font-weight: bold;
        font-size: 5.8vw;
    }
}

h1 {
    font-size: 5vw;
}

p {
    color: #ffffff;
    /* margin: 0 0 0 0.8vw; */
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 5vw;
    }

    p {
        font-size: 1.7vw;
    }
}

