@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
	
.head h1{
    text-transform: uppercase;
    background: linear-gradient(to right, #054319 10%, #247b27 50%);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Monoton', serif;
    text-align: center;
    font-size: 55px;
}
@media screen and (max-width:770px) {
    .head h1{
        font-size: 55px;
    }
}
@media screen and (max-width:500px) {
    .head h1{
        font-size: 40px;
    }
}
@media screen and (max-width:340px) {
    .head h1{
        font-size: 34px;
    }
}