@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
	
.head h1{
    text-transform: uppercase;
    background: linear-gradient(to right, #054319 10%, #247b27 50%);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Monoton', serif;
    margin: 1rem 0;
    word-spacing: 1rem;
}