@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.active {
    /* background: #6e9600; */
    color: #1E5128;
    padding: 3vh 0.5vw;
    text-decoration: none;
    margin-left: 2vw;
}
.sit{
    font-family: 'Monoton', serif !important;
    font-weight: 500 !important;
}
.active:hover h6 {
    color: aqua;
}
.active h6 {
    color: greenyellow;
}
.herbtn{
    background: rgb(17,19,17);
background: linear-gradient(90deg, rgba(17,19,17,1) 0%, rgba(2,22,6,1) 48%, rgba(4,56,14,1) 95%);
}
/* a {
    text-decoration: none;
} */

.navLink {
    transform: rotate(270deg);
    text-transform: uppercase;
    padding: 1vw 1vh;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
}