@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.active {
    /* background: #6e9600; */
    color: #1E5128;
    padding: 3vh 0.5vw;
    text-decoration: none;
    margin-left: 2vw;
}
.sit{
    font-family: 'Monoton', serif !important;
    font-weight: 500 !important;
}
.active:hover h6 {
    color: aqua;
}
.active h6 {
    color: greenyellow;
}
.herbtn{
    background: linear-gradient(279.69deg, #37be52 0%, #4d9f3d85 100%);
}
/* a {
    text-decoration: none;
} */

.navLink {
    transform: rotate(270deg);
    text-transform: uppercase;
    padding: 1vw 1vh;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
}