body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    display: flex;
    justify-content: center;
    background-color: #000000;
    align-items: center;
}

.head {
    margin: 1.5% -22% 15% -20%;
    text-align: center;
    color: #ffffff;
    position: absolute;
}

.cont {
    margin: 15% -30% 10% -28%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4% 17% 4% 18%;
    width: 70%;
    background: rgb(45, 56, 45);
    background: linear-gradient(90deg, rgba(45, 56, 45, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(7, 67, 19, 1) 100%);
    text-align: center;
    color: #ffffff;
}

.day h1 {
    font-weight: bold;
    font-size: 5.8vw;
}

.hour {
    padding: 0% 7% 0% 7%;
    h1 {
        font-weight: bold;
        font-size: 5.8vw;
    }
}

.min {
    padding: 0% 7% 0% 0%;
    h1 {
        font-weight: bold;
        font-size: 5.8vw;
    }
}

.sec {
    padding: 0;
    h1 {
        font-weight: bold;
        font-size: 5.8vw;
    }
}

h1 {
    font-size: 5vw;
}

p {
    color: #ffffff;
    margin: 0 0 0 0.8vw;
}

@media screen and (max-width: 768px) {
            h1 {
                font-size: 5vw;
            }
            p {
                font-size: 1.7vw;
            }
        }
    



