/* body {}

.slider {
  height: 240px;
  /* margin: 0 auto; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.slider1 {
  height: 240px;
  /* margin: 24px auto; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  /* border: 2px solid green; 
}

.sliderimg {
  height: 240px;
  width: 95%;

} */

/* .sliderItem img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    } */

/* .sliderItem {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

} */

.slider {
  /* height: 240px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  /* border: 2px solid green; */
  overflow: hidden;
}

.slider1 {
  /* height: 240px; */
  margin: 1vh auto 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  /* border: 2px solid green; */
}

.sliderimg {
  height: 100%;
  width: 100%;
  margin: 0 0.1vw;
}

/* .sliderItem img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    } */

.sliderItem {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

}

.main {
  padding: 10vh 0;
}