.Container {
  background-color: black;
  height: 38%;
  padding: 30px 0px; 
  /* border: 1px solid green; */
}

.slider {
  height: auto;
  margin:52px auto;
  /* padding-top: 3px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  /* border: 1px solid red;; */
  /* z-index: -1; */
  /* overflow: hidden; */
}

.slider1 {
  height: auto;
  margin: 52px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  /* z-index: -1; */
  /* overflow: hidden; */
}

.sliderimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3%;
}

.sliderItem:hover {
  z-index: 2;
  border: 5px solid green;
  transform: scale(1.1);
  padding: 2px;
 
}

.sliderItem {
  height: 246px;
  margin: 5px; 
    width: 95%;
    position: relative;
    padding: 11px 16px;
    overflow: hidden;
    /* transition: transform 0.3s ease-in-out;*/
}